body {
    background-color: #F5F5DC; /* Bege */
    color: #1A2A40; /* Azul Marinho */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1A2A40;
    color: #F5F5DC;
    padding: 2rem;
    text-align: center;
    border-bottom: 5px solid #E1AD01; /* Detalhe em Amarelo Mostarda */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

h2 {
    border-bottom: 2px solid #F5F5DC;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.full-width { grid-column: span 2; }

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn-submit {
    background-color: #E1AD01;
    color: #1A2A40;
    border: none;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

a.btn-submit {
    display: block;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

.btn-submit:hover {
    background-color: #c99a01;
    transform: scale(1.01);
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 25px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1A2A40;
}

input:checked + .slider:before {
    transform: translateX(26px);
}